.nav {
  /* background: lightgrey; */
  background-image: url('media/checkeredFlag.svg');
  background-size: 62px;
}

/* svg #flag:hover {
  fill: #88B337;
} */

#div1 {
  width: 320px;
  float: left;
  /* margin: auto; */
  margin: 20px;
  background-color: #88B337;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

td:nth-child(2) {
  text-align: center;
  /* border-radius: 10px; */
}

#div2 {
  width: 800px;
  /* margin: auto; */
  float: left;
  background-color: #88B337;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
}
