
.nav {
  /* background: lightgrey; */
  background-image: url('media/checkeredFlag.svg');
  background-size: 62px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* footer p{
  font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-style: medium;
  margin: none;
} */

/* svg #flag:hover {
  fill: #88B337;
} */

#div1 {
  width: 320px;
  float: left;
  /* margin: auto; */
  margin: 20px;
  background-color: #88B337;
  padding: 40px 20px 70px 20px;
  margin-top: 40px;
  border-radius: 10px;
}

td:nth-child(2) {
  text-align: center;
  /* border-radius: 10px; */
}


#div2 {
  width: 800px;
  /* margin: auto; */
  float: left;
  background-color: #88B337;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.footer {
  clear: both;
  background-image: url('media/checkeredFlag.svg');
  background-size: 62px;
  padding: 62px;
}


div.tip {
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 12px 12px 12px 12px;
    font: 12px sans-serif;
    background: #8C421C;
    border: 0px;
    border-radius: 80px;
    pointer-events: none;
}


#navlinks {
  width: 30%;
  float: right;
  padding-top: 10px;
}

ul, #links {
  list-style-type: none;
 }

 a {
    text-decoration: none;
    color: #733616;
}
